body {
  background-color: #f8f8f8;
  @media (min-width: 1440px) {
    background-image: linear-gradient(to right, #ffffff, #f8f8f8);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[type="button"] {
  border: none;
  background-color: transparent;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

.price a:link,
.price a:visited,
.price a:hover,
.kinds a:link,
.kinds a:visited,
.kinds a:hover {
  font-family: "TT Lakes medium", serif, "Times New Roman", Times, serif;
}

.footer a:link,
.footer a:visited,
.footer a:hover {
  color: #7e7e82;
}

.body-container {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  background-color: #f8f8f8;
  z-index: 1;
  opacity: 1;
  transition-duration: 1s;
  transition-property: opacity;

  @media (min-width: 1440px) {
    background-image: linear-gradient(
      to right,
      #fff 0 22.22%,
      #f8f8f8 22.22% 100%
    );
  }
}

.indent-left-style {
  margin-left: 16px;
}
.indent-left-style:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.indent-right-style {
  margin-right: 16px;
}
.indent-right-style:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.hidden-click-768-brends {
  display: none;

  @media (min-width: 1120px) {
    display: block;
  }
}
.hidden-click-1120-brends {
  display: none;
}

.hidden-click-768-kinds {
  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1120px) {
    display: block;
  }
}
.hidden-click-1120-kinds {
  @media (min-width: 768px) {
    display: none;
  }
}

.hidden320 {
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
}

.hidden768 {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
  @media (min-width: 1120px) {
    display: none;
  }
}

.hidden1120 {
  display: none;
  @media (min-width: 1120px) {
    display: flex;
  }
}

.hidden1440 {
  @media (min-width: 1440px) {
    display: none;
  }
}
.opacity {
  opacity: 0.06;
  transition-duration: 1s;
}

.opacity-left {
  opacity: 0.06;
  transition-duration: 1s;
}

.knopka-zakaz {
  width: 119px;
  height: 32px;
  border-radius: 16px;
  border: transparent;
  background-color: #ff3e79;
  color: white;
}

.form__push {
  width: 136px;
  height: 32px;
  border-radius: 16px;
  background-color: #ff3e79;
  color: white;
  text-transform: uppercase;
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

