body {
  background-color: #f8f8f8;
  @media (min-width: 1440px) {
    background-image: linear-gradient(to right, #ffffff, #f8f8f8);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[type="button"] {
  border: none;
  background-color: transparent;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

.price a:link,
.price a:visited,
.price a:hover,
.kinds a:link,
.kinds a:visited,
.kinds a:hover {
  font-family: "TT Lakes medium", serif, "Times New Roman", Times, serif;
}

.footer a:link,
.footer a:visited,
.footer a:hover {
  color: #7e7e82;
}

.body-container {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  background-color: #f8f8f8;
  z-index: 1;
  opacity: 1;
  transition-duration: 1s;
  transition-property: opacity;

  @media (min-width: 1440px) {
    background-image: linear-gradient(
      to right,
      #fff 0 22.22%,
      #f8f8f8 22.22% 100%
    );
  }
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  border: 1px solid transparent;
  border-bottom-color: #d9fff5;
  padding: 17px 0;
  background-color: #fff;
  width: 100%;

  @media (min-width: 1440px) {
    display: none;
  }
}

.container-header__first-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.container-header__burger {
  display: inline-flex;
}
.indent-left-style {
  margin-left: 16px;
}
.indent-left-style:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.indent-right-style {
  margin-right: 16px;
}
.indent-right-style:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.container-header__logo {
  padding: 0 16px;
  display: inline-flex;
}
.container-header__logo::after {
  content: "";
  position: relative;
  width: 2px;
  height: 32px;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  background-color: #eaeaea;
  z-index: 1;
  margin: auto;
  margin-left: 16px;
  margin-right: 0;

  @media (min-width: 768px) {
    display: none;
  }
  @media (min-width: 1440px) {
    display: none;
  }
}
.container-header__logo::before {
  content: "";
  position: relative;
  width: 2px;
  height: 32px;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  background-color: #eaeaea;
  z-index: 1;
  margin: auto;
  margin-left: 0;
  margin-right: 16px;
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.container-header__second-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.second-hidden {
  @media (max-width: 768px) {
    display: none;
  }
}

.container-header__hidden-profile::after {
  content: "";
  position: relative;
  width: 2px;
  height: 32px;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  background-color: #eaeaea;
  z-index: 1;
  margin: auto;
  margin-right: 0;
  margin-left: 16px;
}

.container-header__request {
  display: inline-flex;
}
.container-header__checkstatus {
  display: inline-flex;
}
.nav-info {
  display: flex;
  flex-direction: column;
  opacity: 1;
  max-width: 1121px;
  font-family: "TT Lakes", serif, "Times New Roman", Times, serif;
  margin: 0 auto;

  @media (min-width: 1120px) {
    background-color: #f8f8f8;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    margin: 0 0 0 auto;
  }
}
.nav-info__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f8f8f8;

  @media (min-width: 1120px) {
    justify-content: space-between;
  }
}
.nav-info__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 24px 0;

  @media (min-width: 1120px) {
    display: flex;
  }
}
.nav-info__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-info__text {
  font-size: 28px;
  line-height: 40px;
  margin-left: 16px;
  letter-spacing: -0.6px;
  font-family: "TT Lakes black", serif, "Times New Roman", Times, serif;

  @media (min-width: 768px) {
    margin-left: 24px;
  }
}
.nav-info__text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  border: 1px solid #41f6d7;
  border-radius: 0 4px 4px 0;
  background-color: #41f6d7;
}
.nav-info__right {
  display: none;
  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
  }
}

.nav-info__submit {
  @media (min-width: 1120px) {
    margin-right: 8px;
  }
}
.nav-info__request {
  display: inline-flex;
}
.nav-info__status {
  @media (min-width: 1120px) {
    margin-right: 8px;
  }
}
.nav-info__checkstatus {
  display: inline-flex;
}
.nav-info__navigation {
  max-height: 130px;
}
.nav-info__navigation-menu {
  display: flex;
  align-items: center;
  margin-left: 16px;
  white-space: nowrap;
  overflow-x: auto;
  list-style-type: none;

  @media (min-width: 768px) {
    margin-left: 24px;
  }

  @media (min-width: 1120px) {
    .main-container__scroll-menu--modifier {
      flex-wrap: wrap;
      overflow: unset;
      row-gap: 2px;
    }
  }
}
.nav-info__navigation-item {
  display: block;
  text-wrap: nowrap;
  padding: 6px 17px;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}
.nav-info__navigation-item:focus {
  border: 2px solid #41f6d7;
  border-radius: 6px;
  background-color: white;
}
.nav-info__information {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 16px 0;
  width: 100%;
  @media (min-width: 768px) {
    flex-direction: row;
    padding: 0 24px;
    margin: 24px 0;
  }
}
.nav-info__information-text {
  width: 100%;
  @media (min-width: 768px) {
    width: 50%;
    margin-right: 54px;
  }

  @media (min-width: 1120px) {
    align-self: flex-start;
    margin-top: 8px;
  }
}
.nav-info__text-field {
  margin: 0 auto;
  line-height: 18px;
  font-size: 16px;
  padding: 0 16px;
  letter-spacing: 0.2px;
  overflow: hidden;
  margin: auto 0;
  font-size: 14px;

  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
  }
  @media (min-width: 1120px) {
  }
}
.nav-info__image-block {
  @media (min-width: 768px) {
    width: 50%;
  }
}
.nav-info__image {
  @media (min-width: 768px) {
    width: 100%;
  }
}
.nav-info__movie-more {
  align-self: flex-start;
  display: flex;
  position: relative;
  font-family: "TT Lakes medium", serif, "Times New Roman", Times, serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  border: 0;
  border-radius: 0;
  background: #f8f8f8;
  padding: 8px 16px;

  @media (min-width: 768px) {
    padding: 8px 0 8px 0;
  }
}
.nav-info__movie-more:hover {
  transform: translateX(5px);
  text-shadow: 0 1px black;
  transition-duration: 0.5s;
}

.nav-info__more-arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.open-image {
  background-image: url("../files/movie-al/down.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.closed-image {
  background-image: url("../files/movie-al/up.png");
  background-repeat: no-repeat;
}
.nav-info__all-text {
  display: inline-block;
}
.nav-info__image {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
  }
  @media (min-width: 1120px) {
  }
}
.brends {
  opacity: 1;
  max-width: 1121px;
  opacity: 1;
  background-color: #f8f8f8;
  font-family: "TT Lakes", serif, "Times New Roman", Times, serif;
  line-height: 24px;
  margin: 0 auto;

  @media (min-width: 1120px) {
    max-width: 1121px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    margin: 0 0 0 auto;
  }
}
.brends__title {
  display: block;
  border-top: 1px solid #d9fff5;
  padding: 16px;
  min-width: 100%;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  text-transform: uppercase;
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  @media (min-width: 768px) {
    padding-left: 24px;
  }

  @media (min-width: 1120px) {
    padding-left: 32px;
  }
}
.swiper {
}
.swiper--brends {
  margin: 16px 0 16px 16px;

  @media (min-width: 768px) {
    margin: 16px 0;
  }
}
.swiper-wrapper {
}
.swiper-wrapper--brends {
  min-height: 110px;
  padding: 0 auto;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    justify-content: space-evenly;
    row-gap: 16px;
    min-height: 0;
  }

  @media (min-width: 1120px) {
    grid-template-columns: repeat(4, 240px);
    max-width: 1121px;
  }
}
.swiper-slide {
}
.swiper-slide--brends {
  position: relative;
  width: 240px;
  height: 70px;
  border: 2px solid #eaeaea;
  border-radius: 6px;
  background-color: #fff;

  @media (min-width: 768px) {
    width: 224px;
    margin: auto;
  }

  @media (min-width: 1120px) {
    width: 240px;
  }
}
.swiper-slide--brends::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 50%;
  transform: translateY(50%);
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  background-image: url("../files/after/dropdown.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.swiper-image {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 20px;
  width: auto;
  height: auto;
}

.hidden-click-768-brends {
  display: none;

  @media (min-width: 1120px) {
    display: block;
  }
}
.hidden-click-1120-brends {
  display: none;
}

.swiper-pagination {
  text-align: center;

  @media (min-width: 768px) {
    display: none;
  }
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.swiper-pagination-bullet {
  background-color: #dddddd;
}
.brends__movie-more {
  display: none;
  position: relative;
  margin: 16px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  background-color: #f8f8f8;
  padding: auto;

  @media (min-width: 768px) {
    margin-left: 24px;
    display: block;
  }

  @media (min-width: 1120px) {
    border: none;
    margin-left: 32px;
  }
}
.brends__movie-more:hover {
  transform: translateX(5px);
  text-shadow: 0 1px black;
  transition-duration: 0.5s;
}

.brends__more-arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.open-brends {
  background-image: url("../files/movie-al/down.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translateY(25%);
}

.closed-brends {
  background-image: url("../files/movie-al/up.png");
  background-repeat: no-repeat;
  transform: translateY(25%);
}
.brends__all-text {
  display: inline-block;
  font-family: "TT Lakes medium", serif, "Times New Roman", Times, serif;
}
.kinds {
  opacity: 1;
  max-width: 1121px;
  background-color: #f8f8f8;
  font-family: "TT Lakes", serif, "Times New Roman", Times, serif;
  line-height: 24px;
  margin: 0 auto;

  @media (min-width: 1120px) {
    max-width: 1121px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    margin: 0 0 0 auto;
  }
}
.kinds__title {
  display: block;
  border-top: 1px solid #d9fff5;
  padding: 16px;
  min-width: 100%;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  text-transform: uppercase;
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  @media (min-width: 768px) {
    padding-left: 24px;
  }

  @media (min-width: 1120px) {
    padding-left: 32px;
  }
}
.swiper--kinds {
  margin: 16px 0 16px 16px;

  @media (min-width: 768px) {
    margin: 16px 0;
  }

  @media (min-width: 1120px) {
    margin: 16px 0;
  }
}
.swiper-wrapper--kinds {
  min-height: 200px;
  padding: 0 auto;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    justify-content: space-evenly;
    row-gap: 16px;
    min-height: 0;
  }

  @media (min-width: 1120px) {
    grid-template-columns: repeat(4, 240px);
    max-width: 1121px;
  }
}
.swiper-slide--kinds {
  position: relative;
  width: 240px;
  height: 160px;
  border: 2px solid #eaeaea;
  border-radius: 6px;
  background-color: #fff;
  padding: 16px 0 0 16px;

  @media (min-width: 768px) {
    width: 224px;
    margin: auto;
  }

  @media (min-width: 1120px) {
    width: 240px;
  }
}
.swiper-slide--kinds::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  background-image: url("../files/after/dropdown.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hidden-click-768-kinds {
  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1120px) {
    display: block;
  }
}
.hidden-click-1120-kinds {
  @media (min-width: 768px) {
    display: none;
  }
}
.kinds__movie-more {
  display: none;
  position: relative;
  margin: 16px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  background-color: #f8f8f8;
  padding: auto;

  @media (min-width: 768px) {
    margin-left: 24px;
    display: block;
  }

  @media (min-width: 1120px) {
    border: none;
    margin-left: 32px;
  }
}
.kinds__movie-more:hover {
  transform: translateX(5px);
  text-shadow: 0 1px black;
  transition-duration: 0.5s;
}

.kinds__more-arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.open-kinds {
  background-image: url("../files/movie-al/down.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translateY(25%);
}

.closed-kinds {
  background-image: url("../files/movie-al/up.png");
  background-repeat: no-repeat;
  transform: translateY(25%);
}
.kinds__all-text {
  display: inline-block;
  font-family: "TT Lakes medium", serif, "Times New Roman", Times, serif;
}

.price {
  opacity: 1;
  max-width: 1121px;
  background-color: #f8f8f8;
  font-family: "TT Lakes", serif, "Times New Roman", Times, serif;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  margin: 0 auto;

  @media (min-width: 1120px) {
    max-width: 1121px;
    margin: 0 auto;
  }
  @media (min-width: 1440px) {
    margin: 0 0 0 auto;
  }
}
.price__title {
  border-top: 1px solid #d9fff5;
  padding: 16px;
  min-width: 100%;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  text-transform: uppercase;
  color: #7e7e82;

  @media (min-width: 768px) {
    padding-left: 24px;
  }

  @media (min-width: 1120px) {
    padding-left: 32px;
  }
}
.swiper--price {
  margin: 16px 0 16px 8px;

  @media (min-width: 768px) {
    margin: 0 24px 24px 24px;
  }
  @media (min-width: 1120px) {
    margin: 0 32px 32px 32px;
  }
}
.swiper-wrapper--price {
  min-height: 240px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0;
    min-height: 160px;
  }
}
.swiper-slide--price {
  font-size: 14px;
  position: relative;
  padding: 16px;
  width: 260px;
  height: 200px;
  border-radius: 6px;
  background-color: #fff;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    border-radius: 0;
    width: 100%;
    height: fit-content;
  }
}
.swiper-slide--price:nth-child(3) {
  @media (min-width: 768px) {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}
.swiper-slide--price:last-child {
  @media (min-width: 768px) {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}

.price-header {
  display: none;
  border: none;
  background-color: #f8f8f8;

  @media (min-width: 768px) {
    display: flex;
  }
}
.price__info-item-title {
  width: 378px;
}
.price__item-header-title {
  color: #7e7e82;
}

.price__info-item-last {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 767px) {
    align-items: flex-start;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    width: 250px;
    align-items: center;
  }
}
.first-size {
  @media (min-width: 768px) {
    display: none;
  }
}
.price__item-title {
  color: #7e7e82;

  @media (min-width: 768px) {
    display: none;
  }
}
.price__item-descr {
  letter-spacing: 0.2px;
}
.price__order-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 767px) {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
.knopka-zakaz {
  width: 119px;
  height: 32px;
  border-radius: 16px;
  border: transparent;
  background-color: #ff3e79;
  color: white;
}
.separator::before {
  position: absolute;
  bottom: 0;
  transform: translatex(-50%);
  left: 50%;
  content: "";
  width: 95%;
  height: 1px;
  background-color: #eaeaea;
}
.second-size {
  display: none;
}
.price__content {
  margin: 16px 8px;
  max-width: 432px;

  @media (min-width: 768px) {
    margin: 0 0 50px 24px;
  }

  @media (min-width: 1120px) {
    margin: 0 0 50px 36px;
  }
}

.strelka {
  padding-left: 8px;
}
.footer {
  opacity: 1;
  background-color: #f8f8f8;
  font-family: "TT Lakes", serif, "Times New Roman", Times, serif;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: -0.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  color: #7e7e82;
  border-top: 1px solid #d9fff5;

  @media (min-width: 768px) {
    flex-direction: row;
    margin: 0 auto;
    padding: 32px 24px 41px 24px;
    align-items: flex-start;
  }

  @media (min-width: 1120px) {
    max-width: 1121px;
    margin: 0 auto;
    padding: 32px 32px 22px 32px;
  }

  @media (min-width: 1440px) {
    margin: 0 0 0 auto;
  }
}
.footer__items {
  margin: 16px 4px;
  text-align: center;

  @media (min-width: 768px) {
    width: 33.3%;
    margin: 0;
  }
}
.footer__items-copy {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.footer__items-offerta {
  @media (min-width: 768px) {
    text-align: right;
  }
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;
  width: 320px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -0;
  font-family: "TT Lakes medium", serif, "Times New Roman", Times, serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  background-color: #ffffff;
  opacity: 1;
  transition-duration: 1s;
  transition-property: opacity;
}
.left-hidden {
  display: none;
  opacity: 0;

  @media (min-width: 1440px) {
    display: flex;
    opacity: 1;
  }
}
.left__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 0.5;
}
.left__header-container {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}
.left__header-first {
  display: flex;
  align-items: center;
}
.left__header-burger {
  display: inline-flex;
  background-color: #ffffff;
  border: none;
  margin-left: 16px;

  @media (min-width: 1440px) {
    display: none;
  }
}
.left__header-logo {
  display: inline-flex;
  padding: 0 16px;
}
.left__header-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left__header-checkstatus {
  display: inline-flex;
}

.left__main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 16px;
  height: 100%;
}
.left__menu-item {
  list-style: none;
  position: relative;
}
.left__menu-item a:hover {
  opacity: 0.5;
}
.left__item-link {
  display: inline-block;
  transition-duration: 0.5s;
}
.left__item-link:focus {
  color: #7e7e82;
}
.left__item-link:focus::before {
  position: absolute;
  top: 0;
  left: -16px;
  content: "";
  width: 4px;
  height: 100%;
  border: 1px solid #41f6d7;
  border-radius: 0 4px 4px 0;
  background-color: #41f6d7;
}

.left__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0.09;
  padding-left: 16px;
}
.left__footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0.6;
}

.left__call {
  display: inline-flex;
  border: none;
  background-color: #fff;
}
.left__chat {
  display: inline-flex;
  border: none;
  background-color: #fff;
}

.opacity-left {
  opacity: 0.06;
}

.left__profile {
  display: inline-flex;
  border: none;
  background-color: #fff;
}

.left__footer-contacts-number {
  font-family: "TT Lakes black", serif, "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.left__footer-language {
  display: inline-block;
  margin: 16px 0;
  display: block;
}
.left__footer-lang-item {
  margin-right: 7px;
  border: none;
  background-color: #ffffff;
  text-shadow: none;
}
.left__footer-lang-item:focus {
  color: #7e7e82;
}
.feedback {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  font-family: "TT Lakes medium", serif, "Times New Roman", Times, serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: -16px 0px 52px 0px #0e185033;
  z-index: 2;
}
.feedback-hidden {
  display: none;
}
.feedback__header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;

  @media (min-width: 768px) {
    position: absolute;
    margin: 0;
    left: -72px;
    top: 32px;
  }
}
.feedback__header-button {
  display: inline-block;
}

.feedback__form-tittle {
  position: relative;
  margin-top: 32px;
}
.feedback__form-text {
  font-size: 28px;
  line-height: 32px;
  margin-left: 16px;
  letter-spacing: -0.6px;
  font-family: "TT Lakes black", serif, "Times New Roman", Times, serif;
  vertical-align: middle;
}
.feedback__form-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  border: 1px solid #41f6d7;
  border-radius: 0 4px 4px 0;
  background-color: #41f6d7;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 16px;
  margin-top: 16px;
}
.form__input {
  margin: auto;
  width: 100%;
  height: 48px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}
.form__input-message {
  height: 118px;
}
.form__policy a {
  color: #ff3e79;
}
.form_push {
  width: 136px;
  height: 32px;
  border-radius: 16px;
  background-color: #ff3e79;
  color: white;
  text-transform: uppercase;
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.callback {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  font-family: "TT Lakes medium", serif, "Times New Roman", Times, serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: -16px 0px 52px 0px #0e185033;
  z-index: 2;
}
.callback-hidden {
  display: none;
}
.callback__header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;

  @media (min-width: 768px) {
    position: absolute;
    margin: 0;
    left: -72px;
    top: 32px;
  }
}
.callback__header-button {
  display: inline-block;
}

.callback__form-tittle {
  position: relative;
  margin-top: 32px;
}
.callback__form-text {
  font-size: 28px;
  line-height: 40px;
  margin-left: 16px;
  letter-spacing: -0.6px;
  font-family: "TT Lakes black", serif, "Times New Roman", Times, serif;
  vertical-align: middle;
}
.callback__form-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  border: 1px solid #41f6d7;
  border-radius: 0 4px 4px 0;
  background-color: #41f6d7;
}
.opacity {
  opacity: 0.06;
  transition-duration: 1s;
}

.hidden320 {
  display: flex;
  @media (min-width: 768px) {
    display: none;
  }
}

.hidden768 {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
  @media (min-width: 1120px) {
    display: none;
  }
}

.hidden1120 {
  display: none;
  @media (min-width: 1120px) {
    display: flex;
  }
}
.hidden1440 {
  @media (min-width: 1440px) {
    display: none;
  }
}
